<div class="view_title" data-bind="with: dataModel.current.view">
	<h2 class="view_title" data-bind="text: $data.name, css: {'unsaved' : views.indexOf($data) === -1 }"></h2>
	<div class="section">
		<h3>Constrain</h3>
		<em>Limit what you're looking at</em>
		<div data-bind="template: {name: 'filter', foreach: $data.filters }"></div>
		<span class="add clickable add_filter">+Add</span>
	</div>
	<div class="section">
		<h3>Tabulate</h3>
		<em>Group &amp; pivot your data</em>
		<div data-bind="template: {name: 'grouped', foreach: $data.groupings }">
			<div style="clear:both;"></div>
		</div>
		<span class="add clickable add_grouping">+Add</span>
	</div>
	<div class="section">
		<h3>Plan</h3>
		<em>Create a plan, make it happen</em>
		<div data-bind="template: {name: 'goal', foreach: $data.goals }">
			<div style="clear:both;"></div>
		</div>
		<span class="add clickable add_goal">+Add</span>
	</div>
	<div class="section">
		<h3>Map</h3>
		<em>Your data on the world</em>
		<div data-bind="foreach: $data.maps ">
			<div class="map">
				<span class="remove clickable">remove</span>
				<div class="map_container" data-bind="gfMap: $data.map "></div>
				<div class="map_menu">
					<select data-bind="value: $data.field, options: fields.locations, optionsText: 'name' "></select>
				</div>
			</div>
		</div>
		<span class="add clickable add_map">+Add</span>
	</div>

<!--

	<div class="section">
		<h3>Cloud</h3>
		<em>Your data's word cloud</em>
		<span class="add clickable">+Add</span>
	</div>

	<div class="section">
		<h3>Calendar</h3>
		<em>Your data on time</em>
		<span class="add clickable">+Add</span>
	</div>
-->
</div>