<script type="text/html" id="filter">
	<div class="filter subsection">
		<select data-bind="value: $data.field, optionsValue: 'to_param', optionsText: 'name', options: fields()"></select>
		<select class="filter" data-bind="visible: $data.field() != undefined, value: $data.operator, options: $data.options()">
		<input class="filter" data-bind="visible: $data.field() != undefined, value: $data.filter, valueUpdate: 'afterkeydown', visible: $data.need_input()" >
		<span class="clickable remove">remove</span>
	</div>
</script>
