<div id="graph" class="area">
	<h2 >+Graph</h2>
	<h3 data-bind="visible: !viewModel.graph()">nothing to graph, add a goal or group to see something</h3>
	<!-- ko if: currentView().pivotValues().length > 0 -->
	<select data-bind="
	value: currentView().reportOn,
	options: currentView().pivotValues(),
	optionsText: 'long_label',
	optionsCaption: '-- select what to graph',
	visible: viewModel.graph.need_select() "></select><br>
	<!-- /ko -->

	<canvas id="canvas" width="700" height="400" data-bind="visible: viewModel.graph()"></canvas><br />


	<span class='save_graph clickable' data-bind="visible: viewModel.graph()">save graph</span>
</div>