<script type="text/html" id="groupedRow">

	<!-- ko if: typeof $data != 'undefined' -->

	<!-- ko if: $data.rows.length !=  0 && !dataModel.current.view().groups.pivot() -->
			<tr>
				<!-- ko if: typeof $data._value != 'undefined' -->
				<td class="label label_first" data-bind="attr: {'rowspan': $data.rows.filter(function(elem) { return elem != undefined; }).length + 1 } ">
					<span data-bind="text: $data._value"></span>
				</td>
				<!-- /ko -->
			</tr>

					<!-- ko template: {name: 'groupedRow', foreach: $data.rows} -->
					<!-- /ko -->

			<tr class="total">
				<!-- ko foreach: viewModel.groupedFields -->
					<!-- ko if: $data.name == $parent._field -->
					<td colspan="2">
						TOTAL:
					</td>
					<!-- /ko -->
					<!-- ko if: $data.constructor.name == 'fieldModel' -->
					<td>
						<!-- ko if: $data.report().name != dataModel.current.view().goal.field() || !dataModel.currentcurrent.view().goal.label() -->
							<span data-bind="text: $parent[$data.to_param][$data.report().report]"></span>
						<!-- /ko -->
						<!-- ko if: $data.report().name == dataModel.current.view().goal.field() && dataModel.current.view().goal.label() -->
							<span data-bind="text: ( $parent[current.view().goal.field()][ dataModel.current.view().goal().field().report] + '/' + dataModel.current.view().goal().value() + ' (' + Math.round($parent[current.view().goal.field()][ dataModel.current.view().goal().field().report] / dataModel.current.view().goal().value() * 1000 ) / 10 ) + '%)' "></span>
						<!-- /ko -->
					</td>
					<!-- /ko -->
				<!-- /ko -->
			</tr>
	<!-- /ko -->

	<!-- ko if: $data.rows.length ==  0 || dataModel.current.view().groups.pivot() -->
		<tr>

			<!-- ko if: typeof $data._value != 'undefined' -->
			<td class="label">
				<span data-bind="text: $data._value"></span>
			</td>
			<!-- /ko -->

			<!-- ko foreach: viewModel.groupedFields -->
				<!-- ko if: $data.id != undefined -->
				<td>
					<!-- ko if: $data.report().name != dataModel.current.view().goal.field() || !dataModel.current.view().goal.label() -->
						<span data-bind="text: $parent[$data.to_param][$data.report().report]"></span>
					<!-- /ko -->
					<!-- ko if: $data.report().name == dataModel.current.view().goal.field() && dataModel.current.view().goal.label() -->
						<span data-bind="text: ( $parent[current.view().goal.field()][ dataModel.current.view().goal().field().report] + '/' + dataModel.current.view().goal().value() + ' (' + Math.round($parent[current.view().goal.field()][ dataModel.current.view().goal().field().report] / dataModel.current.view().goal().value() * 1000 ) / 10 ) + '%)' "></span>
					<!-- /ko -->
				</td>
				<!-- /ko -->

				<!-- ko if: $data.report == 'all' && dataModel.current.view().groups.pivot() -->
				<td>
						<!-- ko if: $parent.rows[viewModel.groupedFields().indexOf($data)-1] != undefined && dataModel.current.view().reportOn() != undefined -->
							
						<!-- ko if: dataModel.current.view().reportOn().label != 'goal' -->
							<span data-bind="text: $parent.rows[viewModel.groupedFields().indexOf($data)-1][current.view().reportOn().name][current.view().reportOn().report] "></span>
						<!-- /ko -->
						<!-- ko if: dataModel.current.view().reportOn().label == 'goal' -->
							<span data-bind="text: ( $parent.rows[viewModel.groupedFields().indexOf($data)-1][current.view().reportOn().name][current.view().reportOn().report] + '/' + dataModel.current.view().goal().value() + ' (' + Math.round($parent.rows[viewModel.groupedFields().indexOf($data)-1][current.view().reportOn().name][current.view().reportOn().report] / dataModel.current.view().goal().value() * 1000 ) / 10 ) + '%)' "></span>
						<!-- /ko -->
						
						<!-- /ko -->
				</td>
				<!-- /ko -->
				
				<!-- ko if: $data.name == 'Totals' && dataModel.current.view().reportOn() != undefined -->
				<td class="total">
					<!-- ko if: dataModel.current.view().reportOn().label != 'goal' -->
						<span data-bind="text: $parent[current.view().reportOn().name][current.view().reportOn().report] "></span>
					<!-- /ko -->
					<!-- ko if: dataModel.current.view().reportOn().label == 'goal' -->
						<span data-bind="text: ( $parent[current.view().reportOn().name][current.view().reportOn().report] + '/' + dataModel.current.view().goal().value() + ' (' + Math.round($parent[current.view().reportOn().name][current.view().reportOn().report] / dataModel.current.view().goal().value() * 1000 ) / 10 ) + '%)' "></span>
					<!-- /ko -->
					
				</td>
				<!-- /ko -->
				

			<!-- /ko -->
		</tr>
		
	<!-- /ko -->

	<!-- /ko -->

</script>