<input data-bind="
	value: currentView().goal().value,
	valueUpdate: 'afterkeydown'
	">
<select data-bind="
	value: currentView().goal().field,
	options: viewModel.pivotedRows(),
	optionsText: 'long_label',
	optionsCaption: '-- set goal'
	"></select>

<select data-bind="
	value: currentView().reportOn,
	options: currentView().pivotValues(),
	optionsText: 'long_label',
	optionsCaption: '-- select your report',
	visible: currentView().groups.pivot "></select>

<table border="0" cellspacing="5" cellpadding="5" data-bind="visible: currentView().groups.on">
	<thead>
		<tr>
			<!-- ko foreach: viewModel.groupedFields -->

			<th>
				<!-- ko if: $data.report != '_val' -->
					<span data-bind="text: $data.name, css: {'group_field': $data.constructor.name == 'fieldModel' }"></span><br />
					<!-- ko if: $data.fieldReports != undefined  && ( !currentView().goal.label()|| currentView().goal().field().name != $data.name  ) -->
					<select data-bind="
						value: $data.report,
						options: $data.fieldReports,
						optionsText: 'label',
						optionsVal: 'report'
						"></select>
					<!-- /ko -->
					<!-- ko if: currentView().goal.label() && ( currentView().goal().field() == undefined || currentView().goal().field().name == $data.name )   -->
						<span data-bind="text: 'goal: '+currentView().goal.label() "></span>
					<!-- /ko -->
				<!-- /ko -->
			</th>

			<!-- /ko -->
		</tr>
	</thead>

		<tbody data-bind="template: {name: 'groupedRow', foreach: viewModel.groupedRows().rows}" ></tbody>

	<tfooter>
		<tr>
			<!-- ko foreach: viewModel.groupedFields -->
				<td>
					<!-- ko if: $data.report != '_val' && !currentView().groups.pivot && $data.report() != undefined -->
						<!-- ko if: $data.report().name != currentView().goal.field() || !currentView().goal.label() -->
							<span data-bind="text: viewModel.groupedRows()[$data.name][$data.report().report]"></span>
						<!-- /ko -->
						<!-- ko if: $data.report().name == currentView().goal.field() && currentView().goal.label() -->
							<span data-bind="text: ( viewModel.groupedRows()[currentView().goal.field()][ currentView().goal().field().report] + '/' + currentView().goal().value() + ' (' + Math.round(viewModel.groupedRows()[currentView().goal.field()][ currentView().goal().field().report] / currentView().goal().value() * 1000 ) / 10 ) + '%)' "></span>
						<!-- /ko -->
					<!-- /ko -->
					<!-- ko if: $data.report == 'all' && currentView().groups.pivot() && currentView().reportOn() != undefined -->

						<!-- ko if: currentView().reportOn().label != 'goal' -->
							<span data-bind="text: viewModel.groupedRows()._uniques[1][viewModel.groupedFields().indexOf($data)-1][currentView().reportOn().name][currentView().reportOn().report]"></span>
						<!-- /ko -->
						<!-- ko if: currentView().reportOn().label == 'goal' -->
							<span data-bind="text: ( viewModel.groupedRows()._uniques[1][viewModel.groupedFields().indexOf($data)-1][currentView().reportOn().name][currentView().reportOn().report] + '/' + currentView().goal().value() + ' (' + Math.round(viewModel.groupedRows()._uniques[1][viewModel.groupedFields().indexOf($data)-1][currentView().reportOn().name][currentView().reportOn().report] / currentView().goal().value() * 1000 ) / 10 ) + '%)' "></span>
						<!-- /ko -->

					<!-- /ko -->
					<!-- ko if: $data.name == 'Totals' && currentView().reportOn() != undefined -->

					<!-- ko if: currentView().reportOn().label != 'goal' -->
						<span data-bind="text: viewModel.groupedRows()[currentView().reportOn().name][currentView().reportOn().report]"></span>
					<!-- /ko -->
					<!-- ko if: currentView().reportOn().label == 'goal' -->
						<span data-bind="text: ( viewModel.groupedRows()[currentView().reportOn().name][currentView().reportOn().report] + '/' + currentView().goal().value() + ' (' + Math.round(viewModel.groupedRows()[currentView().reportOn().name][currentView().reportOn().report] / currentView().goal().value() * 1000 ) / 10 ) + '%)' "></span>
					<!-- /ko -->

					<!-- /ko -->
				</td>
			<!-- /ko -->
		</tr>
	</tfooter>
	

</table>
