<div id="help_overlay">
	<p><strong>DEFINITIONS:</strong></p>
	<table>
		<tr>
			<th>
				LIST
			</th>
			<td>
				The thing you're looking at right now. Stores rows, fields, and views.
			</td>
		</tr>
		<tr>
			<th>
				ROW
			</th>
			<td>
				A single unit of data in a list, a row!
			</td>
		</tr>
		<tr>
			<th>
				FIELD
			</th>
			<td>
				A value a row may have, there are many types of rows (date, number, text, etc)
			</td>
		</tr>
		<tr>
			<th>
				VIEW
			</th>
			<td>
				A configuration of a list that tells you certain things about that list. Stores groupings, filters, <strong>goals</strong>, graphs, etc. Make a lot of these.
			</td>
		</tr>
	</table>
	
	<p><strong>HINTS:</strong></p>
<table>
	<tr>
		<th  class="header" colspan="2">
			General
		</th>
	</tr>
	<tr>
		<th>
			Importing
		</th>
		<td>
			Paste ( &#x2303;/&#x2318; + v) the new rows into the first new rows field
		</td>
	</tr>
	<tr>
		<th>
			Saving
		</th>
		<td>
			Ctrl / Cmnd + S ( &#x2303;/&#x2318; + S ) will save everything or clicking on the saving state in the right corner.
		</td>
	</tr>
	<tr>
		<th>
			Save Your View
		</th>
		<td>
			Click on the + next to 'unsaved view'. Every change to the view will be saved.
		</td>
	</tr>
</table>
<table>
	<tr>
		<th class="header" colspan="2">
			Scrolling
		</th>
	</tr>
	<tr>
		<th>Click
		</th>
		<td>
			To select a row
		</td>
	</tr>
	<tr>
		<th>Double Click
		</th>
		<td>
			To edit a row
		</td>
	</tr>

	<tr>
		<td  class="header" colspan="2"><em>once a row has been selected...</em></td>
	</tr>

	<tr>
		<th>Up Arrow (&#x2191;)
		</th>
		<td>
			Scroll up
		</td>
	</tr>
	<tr>
		<th>Down Arrow (&#x2193;)
		</th>
		<td>
			Scroll down
		</td>
	</tr>
	<tr>
		<th>Right Arrow (&#x2192;)
		</th>
		<td>
			Scroll right
		</td>
	</tr>
	<tr>
		<th>Left Arrow (&#x2190;)
		</th>
		<td>
			Scroll left
		</td>
	</tr>
	<tr>
		<th>Return (&#x2305;)
		</th>
		<td>
			Open / Close Editor
		</td>
	</tr>
	<tr>
		<th>Tab (&#x21E5;)
		</th>
		<td>
			Next Field
		</td>
	</tr>
	<tr>
		<th>Shift + Tab (&#x21E7; + &#x21E5;)
		</th>
		<td>
			Previous Field
		</td>
	</tr>
</table>
<table>
		<tr>
			<th class="header" colspan="2">
				Navigation
			</th>
		</tr>
		<tr>
			<th>J
			</th>
			<td>
				Pages the data left
			</td>
		</tr>
		<tr>
			<th>K
			</th>
			<td>
				Pages the data right
			</td>
		</tr>
		<tr>
			<th>
				Ctrl / Cmnd + S
			</th>
			<td>
				Saves Everything
			</td>
		</tr>
</table>
</div>