<table border="0" cellspacing="5" cellpadding="5" class="editor new_rows" data-bind="style: {width: fields.width()+'px'}">
	<thead>
		<tr>
			<!-- ko foreach: fields -->
			<th>
				<span data-bind="text: $data.name"></span>
			</th>
			<!-- /ko -->
			<th></th>
		</tr>
	</thead>
	<tbody id="default_row" data-bind="template: { name: 'row', foreach: defaultRow }">
	</tbody>
	<tbody id="new_row" data-bind="template: { name: 'row', foreach: newRows }">
	</tbody>
	<tfoot id="new_row_menu">
		<tr class="add_rows">
			<td data-bind="attr: {'colspan':fields().length+1 }" >
				<span class="add_new_rows clickable" data-bind="text: newRows.label "></span>
			</td>
		</tr>
	</tfoot>
</table>