<script type="text/html" id="row">
	<tr>
		<td class="rownum" data-bind="text: $index()+1"></td>
		<!--<td data-bind="text: new Date().toLocaleTimeString()"></td>-->
		<!-- ko foreach: fields -->
		<td data-bind="attr: {'class': 'cell '+$data.field_type }, template : { name: 'row'+$data.field_type }" >
		</td>
		<!-- /ko -->
		<td class="menu" data-bind="template: {name: $data._menu()} ">
		</td>
	</tr>
</script>
<script type="text/html" id="form">
		<div class="form">
			<!-- ko foreach: fields -->
			<div data-bind="attr: {'class': 'field '+$data.field_type }" >
				<label data-bind="text: $data.name"></label>
				<div class="input" >
					<!-- ko template: {name: 'row'+$data.field_type } -->
					<!-- /ko -->
				</div>
			</div>
			<!-- /ko -->
			<button class="add clickable">Add</span>
		</div>
</script>

<script type="text/html" id="rowtext">
	<textarea data-bind="value: $parent[$data.to_param], valueUpdate: 'afterkeydown'" wrap="off" class="text data"></textarea>
</script>
<script type="text/html" id="rowblock">
	<textarea data-bind="value: $parent[$data.to_param], valueUpdate: 'afterkeydown'" class="block data"></textarea>
	<div class="block_controls field_controller"><em>Shift + Enter for line break</em</div>
</script>
<script type="text/html" id="rownumber">
	<textarea class="number has_controls data" wrap="off"  data-bind="value: $parent[$data.to_param], valueUpdate: 'afterkeydown'"></textarea>
	<div class="number_controls field_controller"><span class="number_up">&#x2191;</span><span class="number_down">&#x2193;</span></div>
</script>
<script type="text/html" id="rowselect">
	<button type="button" class="ui-multiselect trigger_betterselect data" aria-haspopup="true" tabindex="0" >
		<span class="ui-icon ui-icon-triangle-2-n-s"></span>
		<span data-bind="text: $parent[$data.to_param]() == '--' || $parent[$data.to_param]() == undefined ? 'Select' : $parent[$data.to_param] " ></span>
	</button>
	<select style="display: none;"  data-bind="value: $parent[$data.to_param], options: $data.field_options, optionsCaption: '--'" class="data select"></select>
</script>
<script type="text/html" id="rowmultiselect">
	<button type="button" class="ui-multiselect trigger_betterselect data" aria-haspopup="true" tabindex="0" >
		<span class="ui-icon ui-icon-triangle-2-n-s"></span>
		<span data-bind="text: $parent[$data.to_param]().length == 0 ? 'Select options' : $parent[$data.to_param]().length == 1 ? $parent[$data.to_param]()[0] : $parent[$data.to_param]().length +' selected'" ></span>
	</button>
	<select multiple="multiple" style="display: none;" data-bind="options: $data.field_options, selectedOptions: $parent[$data.to_param]" class="data multiselect"></select>
</script>
<script type="text/html" id="rowdate">
	<textarea class="date has_controls data"  wrap="off"  spellcheck="false" data-bind="datepicker: $parent[$data.to_param](), valueUpdate: 'afterkeydown'"></textarea>	
	<div class="date_controls field_controller"><span class="cal">&nbsp;&nbsp;</span><div class="date_picker"></div></div>
</script>
<script type="text/html" id="rowsuggest">
	<textarea class="suggest data " data-bind="value: $parent[$data.to_param]"></textarea>	
</script>
<script type="text/html" id="rowchildren">
	<div data-bind="foreach: $parent[$data.to_param], css: {'empty' : $parent[$data.to_param]().length == 0 }" class="data children">
		<a target="_blank" class="child_row" data-bind="text: $data.name, attr: {'href': $data.address }"></a>
	</div>	
</script>

<script type="text/html" id="newRowMenu">
	<span class="add clickable">Add</span>
	<span class="remove clickable">Discard</span>
</script>

<script type="text/html" id="unsavedRowMenu">
	<span class="remove clickable">Discard</span>
</script>

<script type="text/html" id="rowMenu">
	<span class="remove clickable">
		Delete
	</span>
	
</script>

