<script type="text/html" id="row">

	<!-- ko if: typeof $data != 'undefined' -->

		<!-- ko if: $data.constructor.name == 'rowModel' -->
			<tr>
				<!-- ko foreach: fields -->
				<td>
					<!-- ko template: {name: 'row'+$data.field_type } -->
					<!-- /ko -->
				</td>
				<!-- /ko -->
				<td data-bind="template: {name: $data._menu()} ">
				</td>
			</tr>
		<!-- /ko -->

		<!-- ko ifnot: $data.constructor.name == 'rowModel' -->

			<tr>
				<td data-bind="attr: { colspan: fields().length }">
					<span data-bind="text: $data._value"></span>
				</td>
			</tr>

			<!-- ko template: {name: 'row', foreach: $data.rows} -->
			<!-- /ko -->

		<!-- /ko -->
	<!-- /ko -->

</script>

<script type="text/html" id="rowtext">
	<textarea data-bind="value: $parent[$data.name], valueUpdate: 'afterkeydown'"></textarea>
</script>
<script type="text/html" id="rownumber">
	<textarea class="number" data-bind="value: $parent[$data.name], valueUpdate: 'afterkeydown'"></textarea>
	<div class="number_controls field_controller"><span class="number_up">&#x2191;</span><span class="number_down">&#x2193;</span></div>
</script>
<script type="text/html" id="rowselect">
	<select data-bind="value: $parent[$data.name], options: [''].concat($data.field_options)"></select>
</script>
<script type="text/html" id="rowdate">
	<textarea class="date" data-bind="datepicker: $parent[$data.name](), valueUpdate: 'afterkeydown'"></textarea>	
	<div class="date_controls field_controller"><span class="cal">&#x1f4c5;</span><div class="date_picker"></div></div>
</script>
<script type="text/html" id="rowsuggest">
	<textarea class="suggest" data-bind="value: $parent[$data.name]"></textarea>	
</script>

<script type="text/html" id="newRowMenu">
	<span class="add clickable">Add</span>
	<span class="remove clickable">Discard</span>
</script>

<script type="text/html" id="rowMenu">
	<span class="remove clickable">
		Delete
	</span>
	
</script>

