
<h2 class="view_title">Your Data</h2>
<div style="text-align: right;">
	<em>Filtered (-)</em>
</div>
<table border="0" cellspacing="5" cellpadding="5" class="editor grid">
	<thead>
		<tr>
			<th class="rownum" ></th>
			<!-- ko foreach: fields -->
			<th data-bind="attr: {'class':$data.field_type+' cell'}">
				<span class="clickable" data-bind="text: $data.name"></span>
			</th>
			<!-- /ko -->
		</tr>
	</thead>
</table>

<div id="scrolling">
	<div id="viewport" data-bind="style: {height: ((dataModel.rowSize()-current.view().start())*26)+'px', paddingTop: (dataModel.current.view().start()*26)+'px'}">
		<table border="0" cellspacing="5" cellpadding="5" class="editor grid">
			<tbody id="edit_rows" data-bind="template: {name: 'row', foreach: viewModel.renderingRows }">
			</tbody>
		</table>
	</div>
</div>
