



<table border="0" cellspacing="5" cellpadding="5" class="editor grid">
	<thead>
		<tr>
			<!-- ko foreach: fields -->
			<th>
				<span class="clickable" data-bind="text: $data.name"></span>
			</th>
			<!-- /ko -->
			<th></th>
		</tr>
	</thead>
</table>

<div id="scrolling" style="overflow: auto; height: 500px;">
	<div id="viewport" data-bind="style: {height: (dataModel.rowSize()*26)+'px'}">
		<table border="0" cellspacing="5" cellpadding="5" class="editor grid">
			<tbody id="edit_rows" data-bind="template: {name: 'row', foreach: viewModel.renderingRows }"></tbody>
		</table>
	</div>
</div>
