<ul>
	<li><a href="/auth/twitter" class="auth_provider">Twitter</a></li>
	<li><a href="/auth/facebook" class="auth_provider">Facebook</a></li>
	<li><a href="/auth/google" class="auth_provider">Google</a></li>
</ul>
