	<p>A database for <strong>winning</strong>.This project is still in beta.<br>To find out more, please contact Scott</p>
	<p style="text-align: center;">
		<%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
	</p>
	<% content_for :title => 'A Database for Winning'%>