	<p>A database for <strong style="text-decoration: line-through">winning</strong>. <a style="color: #747474" href="<%= notice_path %>" >This project is still in currently on hold.</a></p>
	<p style="text-align: center;">
		<%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
	</p>
	<% content_for :title => 'A Database for Winning'%>