<p>Until further notice - development of Go Fight Win is being discontinued</p>
<p>The original purpose of the tool was to replace spreadsheets as the go-to tool for organizing. It was meant to streamline complicated data entry, simplify data analysis, and bring spreadsheets up to speed with the rest of the web in terms of accessibility and sharing.</p>
<p>Unfortunately these goals proved to be too great a design and technical hurdle for this one-person team - the current version buckles under large amounts of data and has an unappealing and unintuitive design that masks what GFW is cable of - while locking data into a trap.</p>
<p>It will need to be reborn and rebuilt - and very well may be someday - but for now it's on hold. Current users can expect the server and URL to continue to function - although support requests will no longer to be fulfilled.</p>
<p>Users dissatisfied with the current system are encouraged to export their data to excel and move on</p>
<p>Regretfully,</p>
<p>- Scott</p>