.form {
	width: 260px;
	text-align: right;
	margin: 0 auto;
}
.form textarea {
	resize: none;
	height: 1em;
	overflow: hidden;
	padding: 4px;
	width: 120px;
}
.form .field_controller {
	margin: -1.3em -30px 0 0;
}

.form textarea.block {
	height: 70px;
	resize: vertical;
}
.form .block .input, .form textarea.block {
	width: 160px;
	overflow: visible;
}

.form textarea.number {
	width: 60px;
	text-align: right;
}

.form label {
	font-weight: bold;
}
.form .field {
	margin-bottom: 16px;
}
.form .input {
	display: inline-block;
	width: 130px;
}
.form .select .input, 
.form .multiselect .input {
	width: 124px;
}

ul.ui-autocomplete {
	width: 94px;
	text-align: left;
}
#add .children {
	display: none;
}