.field_controller {
	margin: -1.4em 8px 0 0;
	font-size: 18px;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-align: right;
}



.editor, .editor td, .editor td span, .editor, .editor td select, .editor td textarea{
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}


.editor tbody select {
    border: 0;
    background: transparent;
	width: 100px;
	margin: 0 10px;
}


/** Number **/
.editor tr td.cell textarea.number, .editor tr td.cell textarea.number:focus {
	width: 50px;
	margin-right: 36px;
}


/** Date picker specific **/
.date_picker {
	display: none;
}

.editor tr td.cell textarea.date, .editor tr td.cell textarea.date:focus {
	width: 130px;
	margin-right: 36px;
}



.hasDatepicker {
	width: 220px;
	font-size: 10px;
	background-color: white;
	padding: 4px;
	border: #747474 solid 1px;
	display: block;
	position: relative;
	display: block;
	float: left;
	margin: 2.60em -9999px -9999px 0;
	z-index: 8;
}


.date_picker .ui-datepicker-calendar { margin: 6px 0; width: 100%;}

.date_picker .ui-datepicker-calendar tr td { background-color: #fff; }
.date_picker .ui-datepicker-calendar tr:hover td { background-color: #ddd; }
.date_picker .ui-datepicker-calendar td, .ui-datepicker-title { text-align: center; }
.ui-datepicker-prev { float: left; }
.ui-datepicker-next { float: right; }
.editor .date_picker .ui-datepicker-calendar tr td:hover { background-color: lightblue; }
.editor .date_picker .ui-datepicker-calendar tr td { background-color: #fff; padding: 2px; }

.date_picker .ui-datepicker-calendar tr td.ui-datepicker-today { background-color: #747474; }
td.ui-datepicker-current-day { border: 1px dashed #333; }

.editor .ui-datepicker thead th {
	min-width: 0;
}


.field_controller span:hover, .cal.on {
	color: #747474;
}


/** Autocomplete **/

ul.ui-autocomplete {
	background-color: #fff;
	list-style: square;
	padding: 0 20px 0 0;
	border: #747474 solid 1px;
	width: 100px;
	padding: 10px 0 10px 34px;
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
}

ul.ui-autocomplete li.ui-menu-item {
	cursor: pointer;
	color: #333;
}

/*** Children  ***/

div.children {
	padding: 2px;
	height: 18px;
	overflow: hidden;
	text-align: left;
	width: 120px;
}
td.selected div.children.empty { 
	border: none;
	background: none;
}
td.selected div.children {
	overflow: visible;
	background: white;
	border: 1px solid black;
	position: relative;
	display: block;
	float: left;
	margin: -1em 0 -999px 0;
	z-index: 8;
	height: 100%;
	width: 118px;
}
div.children a.child_row {
	border-radius: 4px;
	color: white;
	background-color: #622;
	cursor: pointer;
	font-size: 9px;
	padding: 1px 2px 3px;
	line-height: 2em;
	text-transform: lowercase;
}
div.children a.child_row:hover {
	background-color: #226;
}