/** Grouping **/


h2.groups_full { cursor: default; text-decoration: none; color: #747474}

.group { width: 900px; margin: 0 auto; clear: both; min-height: 300px; }
table.grouped_table th {
	border-bottom: 0;
	width: 100px;
}
table.grouped_table tbody tr.total td:first-child {
	font: italic;
	text-align: right;
	border: none;
}
.available_groups {clear: both;}

.add_group {
	border: #226 2px solid;
	border-radius: 4px;
	padding: 4px;
	color: white;
	background-color: #226;
	cursor: pointer;
	font-size: 12px;
	float: left;
	margin: 4px 3px;
}

.group_box {
	float:left;
	margin: 0 6px;
}

.group .menu {
	width: 140px;
}
.group .menu .p {
	padding: 0 0 0 14px;
}
.group .grouped_table {
	width: 728px;
/*	width: 528px;*/
	overflow: auto;
	padding: 0 2px;
}
.group .graph {
	width: 188px;
	display: none;
}
.pivot_menu {
	clear: left;
}
.report_menu {
	float: right;
	text-align: center;
	clear: both;
	margin-top: -40px;
}
.report_menu.both {
	width: 600px;
}
report_menu.graph_only {
	width: 188px;
	display: none;
}
.add_group:hover {
	background-color: lightblue;
	border: lightblue 2px solid;
	color: #333;
}

.added_group {
	width: auto;
	padding: 4px;
	font-size: 12px;
	color: white;
	border: 2px #622 solid;
	border-radius: 4px;
	background-color: #622;
	text-align: center;
	margin: 10px;
	float: left;
	cursor: default;
}
.added_group select {
	display: block;
	margin: 6px 0 0;
}

table.grouped_table {
	padding: 4px;
	text-align: center;
	font-size: 14px;
	margin: 30px 2px;
}

table.grouped_table td {
	border: #ddd 2px solid;
}


table.grouped_table td.label {
	border: #fff 2px solid;
	border-right: #ddd 2px solid;
	font-weight: bold;
}

table.grouped_table tfoot td, table.grouped_table td.total {
	border: #fff 2px solid;
}
