/** Layout **/

body {
}
body.big_header {

}
#header {
	position: fixed;
	width: 100%;
	padding: 10px 10px 4px;
	top: 0;
	left: 0;
	z-index: 9;
}

#footer {
	position: fixed;
	bottom: 0;
	right: 20px;
}

#content {
}