/** Layout **/

body.site {
	width: 960px;
	margin: 0 auto;
	background-color: #ddd;
}
body.big_header {
}
#header {
	position: fixed;
	width: 960px;
	padding: 6px 40px 4px;
	top: 0;

	z-index: 9;
}

#footer {
	position: fixed;
	bottom: 0;
	right: 20px;
}

#content {
	background-color: #fff;
	padding: 80px 40px 80px;
	width: 960px;
	box-shadow: 1px 0px 30px #333;
}

