/** Layout **/

body.site {
	width: 1060px;
	margin: 0 auto;
	background-color: #ddd;
}
body.big_header {
}
#header, #content  {
	width: 960px;
}

#header {
	position: fixed;
	padding: 6px 40px;
	top: 0;

	z-index: 9;
}

#footer {
	position: fixed;
	top: 110px;
	width: 160px;
	margin-left: 1060px;
}

#content {
	background-color: #fff;
	padding: 80px 40px 80px;
	box-shadow: 1px 0px 30px #333;
}

