#table {
	overflow-x: scroll;
	margin: 30px -40px -80px;
}
.scroller {
	overflow-y: scroll; 
	max-height: 800px;
	min-height: 160px;
}
}
h2.view_title {
	color: #747474;
	text-align: right;
}
.clickable {
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#new_rows {
	overflow: scroll;
}