/** Views **/
input#current_view_name {
	background: none;
	border: 0;
	color: #fff;
	font-size: 16px;
}

input#current_view_name.untracked {
	color: #747474;
	font-weight: normal;
	opacity: .7;
}

input#current_view_name.unsaved {
	font-style: italic;
}

span.add_view, span.new_view, span.clear_view {
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
span.add_view:hover, span.new_view:hover, span.clear_view:hover {
	color: #226;
}

span.save {
	font-size: 24px;
	float: right;
	margin: -23px 30px 0 0;
	color: white;
	font-family: 'Tienne', serif;
}
span.save_ready {
	font-style: italic;
	text-decoration: underline;
	cursor: pointer;
}


#views {
	display: none;
	color: #747474;
	margin-left: 204px;
}

#views .remove_view {
	cursor: pointer;
}

#views h4 {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 16px;
	color: #747474;
	display: inline-block;
}

#views .view {
	margin: 0px 8px;
	color: #fff;
	cursor: pointer;
}
#views .view:hover, #views .new_view:hover {
	text-decoration: underline;
}
#views .current_view {
	color: #747474;
	text-decoration: underline;
}
#header:hover #views {
	display: block;
}

h1.title:hover {
	text-decoration: underline;
	cursor: pointer;
}


.f_tab {
	background-color: #226;
	box-shadow: 1px 1px 10px #226;
	text-align: center;
	color: white;
	cursor: pointer;
	padding: 4px 24px 0;
	font-size: 18px;
	float: left;
	margin: 0 10px;
}

.f_tab:hover, .f_tab.on {
	background-color: #622;
	text-decoration: underline;
}


#nav {
	font-size: 26px;
	min-width: 420px;
	text-align: center;
	margin-left: -20px;
	width: 100%;
}

#nav .paging {
	font-size: 10px;
}

.right, .far_right {
	margin: 0 20px;
	float: right;
}

.left, .far_left {
	margin: 0 20px;
	float: left;
}

th {
	text-align: center;
}

/*.editor thead th { min-width: 80px; }*/

.editor thead tr.nav_bar td, .editor thead tr.nav_bar:hover td{ background-color: #fff; }


.editor textarea {
	resize: none;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	height: 2em;
	border: 0;
	background: none;
	width: 120px;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-icab-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	cursor: pointer;
}

/* EXPERIMENT */

.editor tr:hover td.selected, .editor tr td.selected {
	background-color: #99C4D2 !important;
}


.editor tr td.cell {
	padding: 0;
	text-align: center;
	border: 1px #ddd solid;
}
.editor tr.hovered td {
    background-color: lightblue;
}

.editor tr td textarea:focus, .editor tr td select:focus {
	background-color: white;
	color: black;
	margin: 0;
	border: 1px #99C4D2 dotted;
	cursor: text;
}

.search_bar {
	text-align: left;
}
.search_bar select {
	-webkit-appearance: menulist;
	appearance: menulist;
	margin: 0;
	padding: 0;
}

/* New Row */
#new_row {
	border: 1px solid #999;
	min-width: 166px;
}

#new_row_menu, #new_row_menu tr {
	border: 0;
}
.editor tr.add_rows td {
	text-align: center;
	border: 0;
	background-color: #fff;
	cursor: pointer;
}
.editor tr.add_rows:hover td {
	text-decoration: underline;
	font-weight: bold;
}


/** Goal **/
#goal {
	margin: 20px 50px 50px;
	width: 500px;
	min-height: 50px;
}
#goal_box input {
	width: 50px;
}
#goal_box.is_goal {
	display: block;
}
.goal_open {float: left; margin: 0 30px;}
.goal_open.is_goal, .goal_open.is_goal:hover { cursor: default; text-decoration: none; color: #747474}

