.field_controller {
	margin: -22px 0 0 4px;
	font-size: 18px;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.field_controller span:hover, .cal.on {
	color: #747474;
}

.editor, .editor td, .editor td span, .editor, .editor td select   {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.editor, .editor td textarea{
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}


.editor select {
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
	padding: 0 0 0 8px;
}

.editor tr:hover select {
    -webkit-appearance: menulist;
    appearance: menulist;
    background-color: #fff
}




/** Date picker specific **/
.date_picker {
	display: none;
}


.hasDatepicker {
	width: 220px;
	font-size: 10px;
	background-color: white;
	padding: 4px;
	border: #747474 solid 1px;
	display: block;
	position: relative;
	display: block;
	float: left;
	margin: 0 -80px -230px 0;
	z-index: 10;
}


.date_picker .ui-datepicker-calendar { margin: 6px 0;}

.date_picker .ui-datepicker-calendar tr td { background-color: #fff; }
.date_picker .ui-datepicker-calendar tr:hover td { background-color: #ddd; }
.date_picker .ui-datepicker-calendar td, .ui-datepicker-title { text-align: center; }
.ui-datepicker-prev { float: left; }
.ui-datepicker-next { float: right; }

.date_picker .ui-datepicker-calendar tr td.ui-datepicker-today { background-color: #747474; }
td.ui-datepicker-current-day { border: 1px dashed #333; }

/** Autocomplete **/

ul.ui-autocomplete {
	background-color: #fff;
	list-style: square;
	border: #747474 solid 1px;
	width: 100px;
	padding: 10px 0 10px 34px;
}

ul.ui-autocomplete li.ui-menu-item {
	cursor: pointer;
	color: #333;
}
